---
layout: default
title: Blog
---

<div id="home">
  <h1>Sammidysam's Blog</h1>
  
  <p>My blog describes interesting things I have done programming or experienced in the world of computer science.  I don't have many plans for content relating to anything else, but maybe a post could describe something unrelated to computer science sometime.</p>
  
  <h2>Blog Posts</h2>
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.type == "blog" %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
